
    <ul class="sidebar-nav">
      <li>
        <a href="#">
          <b>The Dining Room</b>
        </a>
      </li>
      <li>
        <a routerLink="home" routerLinkActive="active">Home</a>
      </li>
      <hr>
      <li>
        <a>Restaurants</a>
         <hr>
      </li>
     
      <li><a routerLink="restaurants/all" routerLinkActive="active">All</a></li>
      <li><a routerLink="restaurants/german" routerLinkActive="active">German</a></li>
      <li><a routerLink="restaurants/chinese" routerLinkActive="active">Chinese</a></li>
      <li><a routerLink="restaurants/american" routerLinkActive="active">American</a></li>
      <li><a routerLink="restaurants/indian" routerLinkActive="active">Indian</a></li>
      <li><a routerLink="restaurants/pizza" routerLinkActive="active">Pizza</a></li>
      <li><a routerLink="restaurants/vegetarian" routerLinkActive="active">Vegetarian</a></li>
      <hr>
      <li>
        <a routerLink="about" routerLinkActive="active">About</a>
      </li>
      <hr>
      <br>
    </ul>
 